body {
  background-color: #ff0c0c;
}

.center {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.fc {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 1px #c50808;
  text-shadow: 0px 4px 1px rgba(126, 0, 0, 0.85);
}

h5 {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.btn-primary {
  background-color: #004a74;
  width: 114px;
}

.btn-warning {
  width: 114px;
}

.width {
  width: 230px;
}

.image-slide {
  height: 100vh;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.container-1 {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  border-radius: 100px 0px 0px 100px;
}

@media only screen and (max-width: 600px) {
  .none {
    display: none;
  }

  .text-center {
    align-items: center;
  }
}
