body {
  background-color: #f3f5f9;
  position: bottom;
  background-image: url("/img/background.png");
}

.container {
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.9);
}

.img-fluid {
  width: auto;
  height: 80px;
  display: block;
}

h1 {
  font-style: italic;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 3px red;
  margin-left: 20px;
}

h5 {
  color: #0e5589;
  font-weight: 700;
  font-size: 14px;
}

.text-span {
  text-align: center;
  font-size: 12px;
}

.logout {
  width: 150px;
  height: 25px;
  margin-top: 30px;

  text-align: center;
  float: right;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.style-card {
  margin-top: 30px;
  height: 160px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 1px rgba(218, 220, 226, 0.3);
}

.img-card {
  width: auto;
  height: 80px;
  margin: 0 auto;
}

.circle {
  width: 27px;
  height: 22px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  line-height: 100px;
  background-color: red;
}
.circle a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .col-sm {
    align-items: center;
    text-align: center;
  }
  .logout {
    float: left;
  }
}
